{{> header }}
{{> sidebar }}

<h1>Add a property</h1>
<form method='post' action='/properties/create'>
  <div>
    <label>Name</label>
    <input name='name' required />
  </div>
  <div>
    <label>Address</label>
    <input name='address' />
  </div>
  <div>
    <label>Description</label>
    <textarea name='description'></textarea>
  </div>
  <button type='submit'>Create</button>
</form>
<p><a href='/properties'>Back</a></p>

{{> footer }}