<h1>Ajouter une propriété</h1>
<form method='post' action='/properties/create'>
  <div>
    <label>Nom</label>
    <input name='name' required />
  </div>
  <div>
    <label>Adresse</label>
    <input name='address' />
  </div>
  <div>
    <label>Description</label>
    <textarea name='description'></textarea>
  </div>
  <button type='submit'>Créer</button>
</form>
<p><a href='/properties'>Retour</a></p>