<h1>Add a client</h1>
<form method='post' action='/clients/create'>
  <div>
    <label>First name</label>
    <input name='firstName' required />
  </div>
  <div>
    <label>Last name</label>
    <input name='lastName' required />
  </div>
  <div>
    <label>Email</label>
    <input type='email' name='email' required />
  </div>
  <div>
    <label>Phone</label>
    <input name='phone' />
  </div>

  <button type='submit'>Create</button>
</form>
<p><a href='/properties'>Back</a></p>